# Deploy de aplicações

## Aula 1 - Tratando os dados

In [39]:
import pandas as pd

In [40]:
cadastrados = pd.read_csv("https://raw.githubusercontent.com/FIAP/Pos_Tech_DTAT/dd201a034223a16732c6f639b40600b26bd3129c/dados/clientes_cadastrados.csv")

In [41]:
cadastrados.head()

,ID_Cliente,Genero,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
0,5008804,M,Y,Y,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-21474,-1134,1,0,0,0,Segurança,2.0
3,5008808,F,N,Y,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,1,0,1,1,Vendas,1.0
4,5008809,F,N,Y,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,1,0,1,1,Vendas,1.0

In [42]:
cadastrados.shape #quantidade de linhas e colunas

(438557, 18)

In [43]:
cadastrados["ID_Cliente"].value_counts() #contando quantos id tem iguais, mostrando que tem dados duplicados

ID_Cliente
7137299    2
7702238    2
7282535    2
7243768    2
7050948    2
          ..
5690727    1
6621262    1
6621261    1
6621260    1
6842885    1
Name: count, Length: 438510, dtype: int64

In [44]:
id_repetidos = cadastrados[cadastrados["ID_Cliente"].duplicated(keep=False)] #mostrando as informações que estão duplicadas

In [45]:
df_cadastrados_limpo = cadastrados.drop(id_repetidos.index) #limpando os dupplicados

In [46]:
df_cadastrados_limpo["ID_Cliente"].value_counts()

ID_Cliente
5008804    1
6147691    1
6147689    1
6147688    1
6147685    1
          ..
6093492    1
5690720    1
6538938    1
6538937    1
6842885    1
Name: count, Length: 438463, dtype: int64

In [47]:
df_cadastrados_limpo.isnull().sum() #vendo se tem dados nulos e somando a quantidade em cada coluna

ID_Cliente                    0
Genero                        0
Tem_carro                     0
Tem_casa_propria              0
Qtd_filhos                    0
Rendimento_anual              0
Categoria_de_renda            0
Grau_escolaridade             0
Estado_civil                  0
Moradia                       0
Idade                         0
Anos_empregado                0
Tem_celular                   0
Tem_telefone_trabalho         0
Tem_telefone_fixo             0
Tem_email                     0
Ocupacao                 134177
Tamanho_familia               0
dtype: int64

In [48]:
df_cadastrados_limpo["Ocupacao"].unique() #mostrando as informações na coluna escolhida

array([nan, 'Segurança', 'Vendas', 'Contabilidade', 'Construção Civil',
       'Gerência', 'Motorista', 'Equipe principal', 'Alta tecnologia',
       'Limpeza', 'Serviço privado', 'Cozinha', 'Baixa qualificação',
       'Medicina', 'Secretariado', 'Garçom', 'RH', 'Corretor imobiliário',
       'TI'], dtype=object)

In [ ]:
df_cadastrados_limpo.fillna({'Ocupacao': 'Outro'}, inplace=True) #colocando informações onde está nulo

In [52]:
df_cadastrados_limpo.isnull().sum()

ID_Cliente               0
Genero                   0
Tem_carro                0
Tem_casa_propria         0
Qtd_filhos               0
Rendimento_anual         0
Categoria_de_renda       0
Grau_escolaridade        0
Estado_civil             0
Moradia                  0
Idade                    0
Anos_empregado           0
Tem_celular              0
Tem_telefone_trabalho    0
Tem_telefone_fixo        0
Tem_email                0
Ocupacao                 0
Tamanho_familia          0
dtype: int64

In [ ]:
df_cadastrados_limpo.nunique() #número de valores em cada coluna

ID_Cliente               438463
Genero                        2
Tem_carro                     2
Tem_casa_propria              2
Qtd_filhos                   12
Rendimento_anual            866
Categoria_de_renda            5
Grau_escolaridade             5
Estado_civil                  5
Moradia                       6
Idade                     16379
Anos_empregado             9406
Tem_celular                   1
Tem_telefone_trabalho         2
Tem_telefone_fixo             2
Tem_email                     2
Ocupacao                     19
Tamanho_familia              13
dtype: int64

In [54]:
df_cadastrados_limpo.drop("Genero", axis=1, inplace=True) #excluindo a coluna, axis indica que é coluna

In [55]:
df_cadastrados_limpo.drop("Tem_celular", axis=1, inplace=True)

In [56]:
df_cadastrados_limpo["Tem_carro"].unique()

array(['Y', 'N'], dtype=object)

In [57]:
df_cadastrados_limpo['Tem_casa_propria'].unique()

array(['Y', 'N'], dtype=object)

In [58]:
df_cadastrados_limpo['Tem_telefone_trabalho'].unique()

array([1, 0], dtype=int64)

In [59]:
df_cadastrados_limpo['Tem_telefone_fixo'].unique()

array([0, 1], dtype=int64)

In [60]:
df_cadastrados_limpo['Tem_email'].unique()

array([0, 1], dtype=int64)

In [61]:
df_cadastrados_limpo.info()

<class 'pandas.DataFrame'>
Index: 438463 entries, 0 to 438556
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Cliente             438463 non-null  int64
 1   Tem_carro              438463 non-null  object
 2   Tem_casa_propria       438463 non-null  object
 3   Qtd_filhos             438463 non-null  int64
 4   Rendimento_anual       438463 non-null  float64
 5   Categoria_de_renda     438463 non-null  object
 6   Grau_escolaridade      438463 non-null  object
 7   Estado_civil           438463 non-null  object
 8   Moradia                438463 non-null  object
 9   Idade                  438463 non-null  int64
 10  Anos_empregado         438463 non-null  int64
 11  Tem_telefone_trabalho  438463 non-null  int64
 12  Tem_telefone_fixo      438463 non-null  int64
 13  Tem_email              438463 non-null  int64
 14  Ocupacao               438463 non-null  object
 15  Tamanho_familia        438463 non-null  float64
dtypes: float64(2), int64(7), object(7)
memory usage: 56.9+ MB

In [ ]:
df_cadastrados_limpo["Tem_carro"] = df_cadastrados_limpo["Tem_carro"].replace(["Y","N"], [1,0]) #substituindo o valores Y para 1 e N para 2 da coluna "tem_carro"

In [63]:
df_cadastrados_limpo['Tem_casa_propria'] = df_cadastrados_limpo['Tem_casa_propria'].replace(['Y','N'],[1,0])

In [65]:
df_cadastrados_limpo.head()

,ID_Cliente,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
0,5008804,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,0,0,Outro,2.0
1,5008805,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,0,0,Outro,2.0
2,5008806,1,1,0,112500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-21474,-1134,0,0,0,Segurança,2.0
3,5008808,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,0,1,1,Vendas,1.0
4,5008809,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,0,1,1,Vendas,1.0

In [66]:
df_cadastrados_limpo["Idade"] = - df_cadastrados_limpo["Idade"] / 365.2425 #a idade está em contagem regressivo, por isso estamos dividindo pela qiantaidade de dias

In [67]:
df_cadastrados_limpo['Anos_empregado']=-df_cadastrados_limpo['Anos_empregado']/365.2425

In [68]:
df_cadastrados_limpo.head()

,ID_Cliente,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
0,5008804,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,32.868574,12.435574,1,0,0,Outro,2.0
1,5008805,1,1,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,32.868574,12.435574,1,0,0,Outro,2.0
2,5008806,1,1,0,112500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,58.793815,3.104787,0,0,0,Segurança,2.0
3,5008808,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,52.321403,8.353354,0,1,1,Vendas,1.0
4,5008809,0,1,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,52.321403,8.353354,0,1,1,Vendas,1.0

In [ ]:
df_cadastrados_limpo.loc[df_cadastrados_limpo['Anos_empregado']<0,'Anos_empregado']=0  #se for menos que zero, colocar 0 h